*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #faebd770;
}

h1 {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

h2{
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: auto;
}

.list-container{
   text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 2px;
    margin: 5px;
}
.list-container ul{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.list-container li{
    padding: 2px 5px;
    text-align: left;
}

.desc{
    font-style: italic;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}